body{
    background-color:#efefef;
}
.row {
    background-color: white;
    margin: 50px;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}

.media-object{
    width: 30px;
    height:30px;
}

.text-desc{
    font-size:12px;
    font-weight: normal;
    color:#5e5e5e;
}
.profile .section{
    margin-top:15px;
}